body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #f01212;
  }
  
  h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
  }

  .catalogo, .lista-pedidos {
    margin: 20px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input, button {
    padding: 10px;
    font-size: 1em;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .pedido {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .em-preparo {
    background-color: yellow;
  }
  
  .pronto-retirada {
    background-color: green;
  }
  
  .entregue {
    background-color: blue;
    color: white;
  }
  